
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a routerLink="/dashboard2"><b>Admin</b>LTE</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
    <div [ngClass]="{ 'alert': 1, 'alert-danger': 1, 'alert-dismissible': 1, 'hidden': isHidden}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Error</h4>
                Email or password is invalid
              </div>
    <form [formGroup]="form" name="form" (ngSubmit)="f.form.valid && register(form.value)" #f="ngForm" novalidate method="post">
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !firstName.valid || !firstName.valid && firstName.touched, 'has-success': firstName.valid && firstName.touched }">
        <input [formControl]="firstName" type="text"  class="form-control" name="firstName" [(ngModel)]="model.firstName"
         placeholder="Full name"  required>
        <div *ngIf="f.submitted && !firstName.valid" class="help-block">Full name is required</div>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !email.valid || !email.valid && email.touched, 'has-success': (email.valid && email.touched) }">
        <input [formControl]="email" class="form-control" type="email" name="email"
         [(ngModel)]="model.email"  placeholder="Email" required>
         <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid || !password.valid && password.touched || !passwords.valid && (password.touched || repeatPassword.touched), 'has-success': (password.valid && password.touched)}">
        <input [formControl]="password" type="password" class="form-control" name="password"
         [(ngModel)]="model.password" placeholder="Password"required >
         <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid || !repeatPassword.valid && repeatPassword.touched || !passwords.valid && (password.touched || repeatPassword.touched), 'has-success': repeatPassword.valid && repeatPassword.touched }">
        <input [formControl]="repeatPassword" type="password" class="form-control"
         [(ngModel)]="model.repeatpassword"  placeholder="Retype password"required>
         <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match.</span>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
            <ba-checkbox [(ngModel)]="isRemember" [label]="'hover'" [ngModelOptions]="{standalone: true}" title='I agree to the terms'></ba-checkbox>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>

    <a routerLink="/login" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
</body>
