<ul [ngClass]="{ 'sidebar-menu': !child, 'treeview-menu menu-open': child }" style="display:block;">
<li *ngIf="!menuItem.hidden" [title]="menuItem.title" [ngClass]="{'treeview': !child, '': !child, 'active': menuItem.selected && !menuItem.expanded, '': menuItem.children }">

 <a *ngIf="!menuItem.children && !menuItem.url" (mouseenter)="onHoverItem($event, item)" [routerLink]="menuItem.route.paths" >
    <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i><i class="fa fa-circle-o"></i> {{ menuItem.title }}
  </a>

  <a *ngIf="!menuItem.children && menuItem.url" (mouseenter)="onHoverItem($event, item)" [href]="menuItem.url" [target]="menuItem.target">
    <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i><span> {{ menuItem.title }}</span>
  </a>

 <a *ngIf="menuItem.children" (mouseenter)="onHoverItem($event, item)" href (click)="onToggleSubMenu($event, menuItem)">
    <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i><span> {{ menuItem.title }}</span>
    <span class="pull-right-container">
      <b class="fa fa-angle-left" [ngClass]="{'fa-angle-down': menuItem.expanded }"></b>
    </span>
  </a>

  <ul *ngIf="menuItem.children" class="treeview-menu menu-open">
       <ba-menu-item [menuItem]="subItem"
                  [child]="true"
                  (itemHover)="onHoverItem($event)"
                  (toggleSubMenu)="onToggleSubMenu($event, subItem)"
                  *ngFor="let subItem of menuItem.children"></ba-menu-item>
  </ul>

</li>
</ul>
