

<div class="checkbox icheck">
    <label [ngClass]="{'hover':isActive}" (mouseenter)="isActive=true" (mouseleave)="isActive=false">
        <div [ngClass]="{ 'icheckbox_square-blue': 1, 'checked': state, 'hover': isActive}" (mouseenter)="isActive=true" (mouseleave)="isActive=false"
            aria-checked="false" aria-disabled="false" style="position: relative;">
            <input
            [checked]=state
           (change)="onChange($event.target.checked)"
            style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%;
            margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
            type="checkbox"
           [disabled]="disabled" [value]="value" [title]="title">
            <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%;
            height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
        </div> {{title}}
    </label>
          </div>
